{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel = "stylesheet" href = "{% static 'login.css' %}">
  </head>
  <body>
		<div class="contain">

			<div class="form-box">

				<h1 id="title">Login</h1>

				<form method = "post" name="myform" onsubmit="validateform()" action = "{% url 'cust_login'%}">
					{% csrf_token %}
					<div class="input-group">

						<div class="input-field">
							<input type="text" placeholder="Username/Email" name="username"required>	
						</div>

						<div class="input-field">
							<input type="password" placeholder="Password" name="password" required>	
						</div>
						

					</div>
					<br>
					
					<div class="btn-field">
						<button type="submit" id="LoginBtn" >Login</button>
					</div>
					<br>
					<div class="low">
					<p>Don't You Have Account?<a href="{% url 'register'%}">Register</a></p>
					</div>
				</form>
				
			</div>
		</div>
		
</body>
</html>