*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contain
{
	width: 100%;
	height: 790px;
	
}

.form-box
{
	border-radius: 30px;
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: green;
	padding: 50px 60px 90px;
	text-align: center;
}
.form-box h1
{
	font-size: 30px;
	margin-bottom: 60px;
	color: white;
	position: relative;
}


.input-field
{
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height 0.5s;
	overflow: hidden;
}

input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 15px 15px;
}
.input-group
{
	height: 150px;
}

form p
{
	text-align: left;
	font-size: 15px;
	color: white;
}

form p a
{
	text-decoration: none;
	color: yellowgreen;
}

.btn-field
{
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn-field button
{
	flex-basis: 40%;
	background: greenyellow;
	color: white;
	height: 30px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: background 1s;
}

.btn-field button a
{
	text-decoration: none;
	color: white;
}


.input-group
{
	height: 150px; 
}


.btn-field button a:hover
{
	color: black;
}

.low p
{
	text-align: center;
}
